/* roboto font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');
/* font here on top */
/* root Start*/
:root {
  --btn-bg: #2294ed;
  --btn-hover-bg: #1b84d4;
  --padding: 10px;
  --primary-fontsize:1.1rem;
  --heading-info: #577592;
}
/* root end */

/* default value (custom) */
.page_container {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
}
h1 {
  font-size: 48px;
  font-weight: 700;
}
/* START (MAIN) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
header {
  overflow: hidden;
}
.banner {
  background-image: url(./images/bannarbg.png);
  background-size: 300px;
  background-color: #4dadf7;
}
.banner .banner_content {
  padding: 15px 20px;
  text-align: center;
  color: #fff;
  display: inline-block;
  display: block;
  margin: 0 auto;
  text-shadow: 1px 1px 1px rgba(0,0,0,.1);
}

.main_heading {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.logo_site {
  display: flex;
  align-items: center;
  position: relative;
}
.logo {
  width: 168px;
  height: auto;
}
.logo_site .logo img {
  width: 100%;
  height: 100%;
  display: flex;
  vertical-align: middle;
}
.logo_site .becometester{
  position: relative;
  width: 150px ;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.logo_site .becometester::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(./images/becometester_bg.svg);
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
  /* top: 50%; */
  /* left: 50%; */
  z-index: -1;
}

.menu_site {
  display: flex;
  align-items: center;
  font-weight: 500;
}
.menu_site .menu{
  display: flex;
}
.menu_site .menu i {
  margin-left: 10px;
}
.menu_site .menu li {
  padding: 0 15px;
  /* display: inline-block; */
}
.menu_site .menu_btn {
  display: flex;
  margin-left: 30px ;
}
.menu_site .menu_btn .h_btn a{
  padding: 10px 15px;
  border: 1px solid #b9cde4;
  border-radius: 4px;
  font-weight: 600;
}
.menu_site .menu_btn .signin {
  margin-right: 20px;
}
.menu_site .menu_btn .tryfor a{
  background-color: var(--btn-bg);
  color: #fff;
}